{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Strasbourg</h2>
    <p style="text-decoration: line-through; opacity: 0.25">
      October 29th − November 1st 2020
    </p>
    <p>
      It is with a heavy heart but with all responsibility that we, the members
      of the board, have decided to cancel the 2020 edition of PyConFR. You are
      well aware that the health crisis we are currently experiencing affects
      us all to varying degrees, from the point of view of travel,
      administrative management, or unfortunately from a human point of view.
    </p>
    <p>
      We have believed for a long time that we could hold our edition, most of
      the organizational projects had been initiated, but the uncertainty that
      hangs over events of this magnitude has led us to reconsider the
      situation. All the work done so far will however not be lost, we normally
      keep our agreement with the University of Strasbourg for the venue, we
      hope to use this extra time imposed on us to prepare a wonderful edition
      in 2021. We also decided not to organize an online edition for reasons of
      budget, availability of volunteers, and for the monumental change in
      organizational paradigm that we absolutely do not want to rush.
    </p>
    <p>
      Hope to see you next year,<br/>
      Take care,<br/>
      The members of the AFPy board
    </p>
  </article>

  <article>
    <hgroup>
      <h2>Schedule</h2>
      <hr/>
      <img src="{{ url_for('static', filename='svg/agenda.svg') }}" alt='Programme'/>
    </hgroup>
    <section>
      <h3>Participative Coding ("Sprints")</h3>
      <p>
        The first two days are dedicated to sprints.
      </p>
      <p>
        Developers of various open source projects gather in little groups to
        code together. Everyone is welcome to contribute, and we seek to guide
        beginners.
      </p>
      <p>
        Take part to the development of your favorite project! We provide the
        space and environment (tables, chairs, internet connection.… and
        coffee!).
      </p>
    </section>

    <section>
      <h3>Conferences and Workshops</h3>
      <p>
        During the two following days, you will have the opportunity to attend
        to presentations on various subjects, about the Python programming
        language, its use cases, good practices, feedbacks, shared ideas…
      </p>
    </section>
  </article>

  <article>
    <hgroup>
      <h2>AFPy</h2>
      <hr/>
      <img src="{{ url_for('static', filename='svg/pyth.svg') }}" alt='Programme'/>
    </hgroup>
    <section class="d-flex">
      <div class="card">
        We promote the Python programming language among the widest possible
        audience.
      </div>
      <div class="card">
        We diffuse our knowledge and are open to external contributions.
      </div>
      <div class="card">
        Solidarity and democracy increase the potential of each one of us.
      </div>
    </section>
  </article>

  <article>
    <hgroup>
      <h2>The Place</h2>
      <hr/>
      <img src="{{ url_for('static', filename='svg/map.svg') }}" alt='Programme'/>
    </hgroup>
    <section class="column center">
      <address>
        Université de Strasbourg
      </address>
      <a class="button" href="{{ url_for('page', name='venue', lang=lang) }}">
        More Details
      </a>
    </section>
  </article>

  <article>
    <hgroup>
      <h2>Our Sponsors</h2>
      <hr/>
      <img src="{{ url_for('static', filename='svg/cup.svg') }}" alt='Programme'/>
    </hgroup>
    <section class="column center">
      {{ sponsors(lang, only_logo=True) }}
      <p>
        The local team is available to answer your questions about the event
        at <a href="mailto:contact@pycon.fr">contact@pycon.fr</a>.
      </p>
    </section>
  </article>
{% endblock content %}
