{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Strasbourg</h2>
    <p style="text-decoration: line-through; opacity: 0.25">
      2020, 2021 ou 2022
    </p>
    <p>
      C’est le cœur lourd mais en toute responsabilité que nous, les membres du
      bureau, avons décidé d’annuler les éditions 2020 et 2021 de la PyConFR. L'édition 2022 est toujours en projet.
      Vous n’êtes pas sans savoir que la crise sanitaire que nous traversons actuellement
      nous affecte tous à des degrés divers et variés, que ce soit du point de
      vue des déplacements, de la gestion administrative, ou malheureusement
      d’un point de vue humain.
    </p>
    <p>
      Nous sommes <a href="https://discuss.afpy.org/t/en-attendant-la-pyconfr-2022/407">
      en train de discuter</a> de ce que nous allons faire en attendant une
      évolution positive de la situation sanitaire.
    </p>
    <p>
      En espérant vous voir l’année prochaine,<br/>
      prenez soin de vous,<br/>
      Le bureau de l’AFPy
    </p>
  </article>

  <article>
    <hgroup>
      <h2>Programme</h2>
      <hr/>
      <img src="{{ url_for('static', filename='svg/agenda.svg') }}" alt='Programme'/>
    </hgroup>
    <section>
      <h3>Développement participatif (« sprints »)</h3>
      <p>
        Les deux premiers jours sont réservés à des sprints.
      </p>
      <p>
        Les développeurs et développeuses de différents projets open source se
        rejoignent pour coder ensemble. Chaque personne est la bienvenue pour
        contribuer, et nous cherchons également à accompagner les débutant·e·s.
      </p>
      <p>
        Participez au développement de votre projet préféré ! Nous fournissons
        l'espace et le matériel nécessaire à l'organisation (tables, chaises,
        connexion internet… et café !).
      </p>
    </section>

    <section>
      <h3>Conférences et ateliers</h3>
      <p>
        Durant ces deux jours, vous aurez l'occasion de participer à des
        présentations sur des sujets variés, autour du langage Python, de ses
        usages, des bonnes pratiques, des retours d'expériences, des partages
        d'idées…
      </p>
    </section>
  </article>

  <article>
    <hgroup>
      <h2>AFPy</h2>
      <hr/>
      <img src="{{ url_for('static', filename='svg/pyth.svg') }}" alt='Afpy'/>
    </hgroup>
    <section class="d-flex">
      <div class="card">
        <p>Nous assurons la promotion du langage de programmation Python auprès du
          plus large public possible.</p>
      </div>
      <div class="card">
        <p>Nous diffusons nos connaissances et sommes ouverts aux apports
          extérieurs.</p>
      </div>
      <div class="card">
        <p>La solidarité et la démocratie élargissent les horizons et accroissent
          le potentiel de chacun.</p>
      </div>
    </section>
  </article>

  <article>
    <hgroup>
      <h2>Le lieu</h2>
      <hr/>
      <img src="{{ url_for('static', filename='svg/map.svg') }}" alt='Le lieu'/>
    </hgroup>
    <section class="column center">
      <address>
        Université de Strasbourg
      </address>
      <a class="button" href="{{ url_for('page', name='venue', lang=lang) }}">
        Plus de détails
      </a>
    </section>
  </article>

  <article>
    <hgroup>
      <h2>Nos soutiens</h2>
      <hr/>
      <img src="{{ url_for('static', filename='svg/cup.svg') }}" alt='Afpy'/>
    </hgroup>
    <section class="column center">
      {{ sponsors(lang, only_logo=True) }}
      <p>
        L'équipe locale est disponible pour répondre à vos questions sur
        l'événement à
        l'adresse <a href="mailto:contact@pycon.fr">contact@pycon.fr</a>.
      </p>
    </section>
  </article>
{% endblock content %}
